# .env
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
NODE_NAME=node1
LOCAL_DISK_PATH=/mnt/minio
CONSOLE_PORT=9001
API_PORT=9000

# 所有参与集群的节点地址（包括当前机器）
CLUSTER_NODES=192.168.1.101,192.168.1.102,192.168.1.103,192.168.1.104
