# PostgreSQL Configuration
POSTGRESQL_REPLICATION_MODE=master
POSTGRESQL_DATABASE=mydb
POSTGRESQL_USERNAME=postgres
POSTGRESQL_PASSWORD=postgres
POSTGRESQL_REPLICATION_USER=repl_user
POSTGRESQL_REPLICATION_PASSWORD=repl_password

PORT=5432
# WAL-G Configuration
WALG_S3_PREFIX=s3://your-bucket-name/backup/
AWS_ACCESS_KEY_ID=your-access-key
AWS_SECRET_ACCESS_KEY=your-secret-key
AWS_REGION=your-region
WALG_COMPRESSION_METHOD=lz4
WALG_DISK_RATE_LIMIT=10485760
WALG_NETWORK_RATE_LIMIT=10485760

# Restoration Configuration
# Set to true to force restoration from backup
RESTORE_FROM_BACKUP=false
# Specify backup name or use LATEST for the most recent backup
BACKUP_NAME=LATEST 