# PostgreSQL Slave Configuration
# Container settings
CONTAINER_NAME=postgresql-slave-0
COMPOSE_PROJECT_NAME=trade-dev-slave
# PostgreSQL Replication Settings
POSTGRESQL_REPLICATION_MODE=slave
POSTGRESQL_MASTER_HOST=postgresql-master
POSTGRESQL_MASTER_PORT_NUMBER=5432
POSTGRESQL_REPLICATION_USER=repl_user
POSTGRESQL_REPLICATION_PASSWORD=111111

# PostgreSQL Authentication
POSTGRESQL_PASSWORD=111111

# Port Configuration
PORT=15433 