# mongodb
MONGO_VERSION=8.0

# auth
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=yourStrongPassword

# network
MONGO_PORT=17017

# resources
MONGO_CPUS=2
MONGO_MEMORY=4G

# MONGO_CPUS=0.5
# MONGO_MEMORY=300M