# Server Settings
FRP_PORT=7000
DASHBOARD_PORT=7500
DASHBOARD_USER=admin
DASHBOARD_PWD=your_strong_password_here
FRP_TOKEN=your_strong_token_here

# Port Range Settings
ALLOW_PORTS_START=5700
ALLOW_PORTS_END=5710
LOCAL_PORTS_START=5070
LOCAL_PORTS_END=5080

# Client Settings
SERVER_IP=your_server_ip
SERVER_PORT=7000 