
CONTAINER_NAME=wordflow-postgresql

POSTGRESQL_REPLICATION_MODE=master
POSTGRESQL_DATABASE=MyDB
POSTGRESQL_USERNAME=sean
POSTGRESQL_PASSWORD=111111
POSTGRESQL_REPLICATION_USER=repl_user
POSTGRESQL_REPLICATION_PASSWORD=111111
PORT=15432